{% load staticfiles %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
      <div class="header">
        <div>
          <h1><a href="#">Django Girls Blog</a></h1>
          <h4>{{title}}</h4>
        </div>
      </div>

    <div>
        <div class="post-list">
          {% for post in posts %}
          <div class="post">
              <h4><a href="">{{post.title}}</a></h4>
              <p class="text-right">published: {{post.published_date}}</p>
              <p>{{post.text}}</p>
          </div>
          {% endfor %}
        </div>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="#">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto eius et non praesentium. Adipisci consectetur cumque dicta doloribus ea earum eos, est ex illo illum inventore itaque labore magnam molestiae nemo qui, quibusdam reiciendis rem sint soluta tenetur voluptatibus voluptatum? Adipisci esse ipsa rerum soluta voluptatem. Beatae, magni perferendis.</p>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="#">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet inventore non porro reprehenderit. Ad aliquam aperiam blanditiis corporis dolore eius ex hic itaque labore laudantium molestiae, nam numquam odio praesentium quaerat quasi, quis repellat repellendus similique tempore tenetur ullam voluptatem voluptates. Eligendi, ipsa, quam. Adipisci illum nam possimus reiciendis totam?</p>
    </div>

  </div>
</body>
</html>
