
{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'post_list' %}" class="btn btn-primary pull-right">List</a>

<form action="/post/create/" method="post">
  {% csrf_token %}

  <input type="text" name="title" value="{{ post.title }}">
  <textarea name="text" id="" cols="30" rows="10">{{ post.text }}</textarea>

  <!-- {% for field in form %}
  <div class="form-group">
    {{field.label_tag}}
    {{field}}
  </div>
  {% endfor %} -->

  <button type="submit" class="btn btn-primary btn-block">수정</button>
</form>
</div>
{% endblock %}
