{% extends 'blog/base.html' %}

{% block content %}
<div class="post-list">
    <div class="post">
        <h4><a href="">{{ post.title }}</a></h4>
        <p class="text-right">
            <small>published: {{ post.published_date }}</small>
        </p>
        <p>{{ post.text|linebreaksbr }}</p>

        <a href="{% url 'post_modify' post.pk %}" class="btn btn-primary">편집</a>
        <form action="{% url 'post_delete' post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>
</div>
{% endblock %}