{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'post_create' %}" class="btn btn-primary pull-right">Add Post</a>
<div class="post-list">
	{% for post in posts %}
	<div class="post">
		<h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
		<p class="text-right"><small>published: {{ post.published_date }}</small></p>
		<p>{{ post.text|truncatechars:120 }}</p>
		<a href="{% url 'post_modify' post.pk %}" class="btn btn-primary">편집</a>
		<form action="{% url 'post_delete' post.pk %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">삭제</button>
		</form>
	</div>
	{% endfor %}
</div>
{% endblock %}